<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <% if @books.errors.any? %>
      <%= @books.errors.count %>error prohibited this obj from being saved:
      <ul>
        <% @books.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
      <%= form_with model: @books do |f| %>
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :body, "Opinion" %>
        <%= f.text_area :body, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.submit "Update Book", class: "btn btn-success" %>
      </div>
      <% end %>
      <span><%= link_to "Show", book_path(@books.id) %></span>
      |
      <span><%= link_to "Back", '/books' %></span>
    </div>
  </div>
</div>