<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <%= render partial: 'template1', locals: { user: @user, book: @book } %>
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@books.user.id) do %>
                  <%= image_tag @books.user.get_profile_image(100,100) %>
                  <br>
                  <%= @books.user.name %>
                <% end %>
              </td>
              <td><%= link_to book_path(@books.id) do %><%= @books.title %><% end %></td>
              <td><%= @books.body %></td>
              <% if @books.user == current_user %>
              <td><a class="btn btn-sm btn-success "href="<%= edit_book_path(@books.id) %>">Edit</a></td>
              <td><a data-confirm="本当に削除しますか？" class="btn btn-sm btn-danger" rel="nofollw" data-method="delete" href="<%= book_path(@books.id) %>">Destroy</a></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>